input[type="text"],
input[type="datetime-local"] {
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  height: 3rem;
  padding-left: 1rem;
  color: var(--input-placeholder)
}