input[type="text"],
input[type="datetime-local"],
textarea {
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  height: 3rem;
  padding-left: 1rem;
  font: var(--body-md);
  color: var(--text-heading);

  &::placeholder {
    color: var(--input-placeholder);
  }
}