aside {
  padding-bottom: 40px;
  background-image: url("../assets/Background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-block: 1.25rem;
  margin-left: 1.25rem;
  border-radius: 12px;
}

.conteudo-aside {

  padding: 2rem;

  h1 {
    font: var(--logo);
    color: var(--pink);
  }

  h3 {
    font: light 1rem var(--font-family);
    color: var(--text-heading);
  }
}