@import url(fields/index.css);

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  width: 560px;

  #nome-evento {
    margin-bottom: 1rem;
  }

  div>p {
    margin-bottom: 0.75rem;
  }

  label {
    margin-bottom: 0.75rem;
  }

  .campos-evento {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

    .input-evento {
      width: 17rem;
      display: flex;
      flex-direction: column;
    }

    .radio-container {
      height: 3rem;
      background-color: var(--input-base);
      border-radius: 0.5rem;
      border: 1px solid var(--input-stroke);
      width: 17rem;
      display: flex;
      justify-content: space-between;

      .radio-caixa {
        margin: 4px;
        border-radius: 4px;
        display: flex;
        position: relative;
        align-items: center;
        gap: 0.4rem;
        justify-content: center;
        width: 8.4rem;

        label {
          margin-top: .8rem;
        }

        &:has(:checked) {
          background-color: var(--input-stroke);
        }

        input {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
        }


      }

    }
  }

}